.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.headerimg
{
  margin: 0 20px 0 20px;
  box-shadow: 0 5px 20px black;
}

body
{
  background-color: white;
}

.navcontainer
{
  display: flex;
  background-color: black;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 2px 10px black;
}

.navitem
{
  padding-left: 10px;
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  
}

.normalItem
{
  padding-left: 10px;
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  background-color: gray;
  margin: 10px 10px 10px 10px;
  padding: 0 10px 0 10px;
  border-radius: 20px;
}

.navitem:hover
{
  background-color: #ff33cc;
  border-radius: 20px;
}

.nonetext
{
  text-decoration: none;
  color: white;
  background: linear-gradient(to bottom left, #ff33cc 0%, #00ccff 100%);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding: 0 10px 5px 10px;
  border-radius: 20px;
}

.homebutton
{
  width: 35px;
  height: auto;
}

.item1
{
  background: linear-gradient(to bottom left, #ff33cc 0%, #00ccff 100%);
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px 2px 5px 20px;
  border-radius: 10px;
  padding-top: 5px;
}

.none
{
  text-decoration: none;
  color: white;
}

.step1 
{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 500px;
  margin: 35px 20px 20px 20px;
  box-shadow: 0 10px 7px black;
  height: 730px;
}
.img1
{
  width: 100%;
  height: auto;
  background-color: grey;
}
.text1 
{
  display: block;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.steps
{
  text-align: center;
}

.stepText {
  font-family: Arial, Helvetica, sans-serif;
}