.background
{
  background: linear-gradient(to bottom left, #ff33cc 0%, #00ccff 100%);
}

.navcontainer
{
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0; 
  width: 110%; 
  z-index: 100;
}

.banner
{
  width: 100%;
  height: auto;
  padding-top: 80px;
}

.navitem:hover
{
  transition: .2s;
  text-shadow: 0 0 10px black;
}

.item1:hover{font-size: 2.2vw;}
@media(max-width : 1000px){
  .item1:hover{font-size: 3.3vw;}
}

.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.item1
{
  font-size: 1.9vw;
}

@media (max-width : 1000px)
{
  .item1 {font-size: 3vw;}
}

.navitem
{
  transition: .2s;
  padding-left: 5px;
  font-family: Arial;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
  display: block;
}

.nonetext
{
  text-decoration: none;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding: 0 10px 5px 10px;
  border-radius: 20px;
}

.homebutton
{
  transition: .2s;
  width: 3vw;
}

.homebutton:hover
{
  transition: .2s;
  width: 3.5vw;
  height: auto;
  text-align: center;
}

.item1
{
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px 2px 5px 20px;
  border-radius: 10px;
  padding-top: 5px;
}

.none
{
  text-decoration: none;
  color: white;
}

.textsubjects
{
  margin-right: auto;
  margin-left: auto;
}

.hometext
{
 margin: 20px;
 font-size: 3vw;
 font-family: Arial, Helvetica, sans-serif;
 margin-right: auto;
 margin-left: auto;
 font-weight: bolder;
 text-align: center;
 color: black;
 text-shadow: 2px 2px 5px #00ccff;
}

.smallhometext
{
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: black;
  text-shadow: 2px 2px 5px  #ff33cc;
  margin: 20px;
}

.homeimg
{
  transition: .3s;
  margin: 30px;
  width: 30%;
}

.imgborder
{
  border-radius: 30px;
}

.home1
{
 display: flex;
 flex-direction: row-reverse;
 justify-content: space-between;
}


.home2
{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.homeimg:hover{
  transition: .3s;
  box-shadow: 0 0 50px lightblue;
  width: 33%;
  height: auto;
  transition-timing-function: ease-in-out;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.imagecontainer
{
  margin: 20px;
  width: 33%;
}

.onswerk
{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}


.textsubjects2
{
  margin-right: auto;
  margin-left: auto;
}

.hometext2
{
 margin: 20px;
 font-size: 3vw;
 font-family: Arial, Helvetica, sans-serif;
 margin-right: auto;
 margin-left: auto;
 font-weight: bolder;
 text-align: center;
 color: black;
 text-shadow: 2px 2px 5px #00ccff;
}

.smallhometext2
{
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5vw;
  color: black;
  text-shadow: 2px 2px 5px  #ff33cc;
  margin: 20px;
}
=======
.tierContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.tiers, .tier3 {
  transition: .3s;
  width: 30%;
  height: 400px;
  margin: 20px;
  border-radius: 20px;
  align-items: center;
  border: white 2px solid;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
  background-color: white;
}

.tiers:hover {
  box-shadow: 0 0 50px lightblue;
  transition: .3s;
  transition-timing-function: ease-in-out;
}
.price {
  vertical-align: end;
}

.tier3:hover {
  transition: .3s;
box-shadow: 0 0 100px orangered;
width: 40%;
height: 450px;
}

.balls
{
  background-color: black;
  height: 300px;
  color: white;
}

